doctype html
html
  head
    title= title
    style
      include ../public/css/index.css
  body
    h1 Index Page

    #wrapper
      for item in results
        .post
          fieldset
            legend
              span ID|#{item.ID}
              |  #{item.Title} 
            p.content #{item.Content}